/* styles.css */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: center;       /* center vertically */
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), /* dark overlay */
    url("assets/image.png") center center / cover;
  background-position: center center;
  background-size: cover;
  font-family: 'Inter', sans-serif;
}
h1{
    font-family: 'Montasserat', 'sans-serif';
    font-size: 6rem;
    color: #ffffffc3;
}

.keys {
  display: flex;
  gap: 1.2rem;                 /* spacing between keys */
}

.key {
  background: #22212151;
  border: 2px solid #535353cb;
  border-radius: 8px;
  padding: 1rem .5rem;
  width: 100px;
  text-align: center;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  text-shadow: 0 0 5px black;
  transition: all 0.2s ease;
  cursor: pointer;
  transition: all ease-in 0.07s;
}

.key kbd {
  font-size: 2rem;
  font-weight: extrabold;
  color: #fbfbfbff;
}

.key .sound {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  color: #fed84dff;
  margin-top: 0.5rem;
}

.key:hover {
  transform: translateY(-4px);
  border: 2px solid #aaa;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;

}
